<strong>Olá {{deliveryman}}, </strong>
<p>
  Você tem um novo produto cadastrado, confira os detalhes abaixo:
</p>
<p>
  <strong>Produto: {{product}}</strong> <br>

  <small>O produto está disponível para retirada.</small>
</p>
